body {
    font-family: 'Outfit';
    background-color: hsl(220, 41%, 79%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: border-box;
    width: 320px;
    height: 497px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    top: 50%;
    transform: translateY(25%);
    position: relative;
    border-radius: 15px;
}

.qr-code-image {
    width: 90%;
    height: auto;
    margin: 16px 16px 0px 16px;
    border-radius: 15px;
    
}


.attribution { 
    text-align: center;
    position: absolute;
    bottom: 16px;
    font-size: 11px; 
    text-align: center;
    width: 100%; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
